.slogan {
    height: 200px;
    background-color: bisque;
    display: flex;
    align-items: center;
}

.slogan__body {
    width: 80%;
    border: 1px solid;
    margin: 0px auto;
}

.slogan__title p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px;
}

.slogan__button {
    display: flex;
    align-items: center;
    justify-content: center;
}