.headerBlock {
    background-color: #1e2326;
}



.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #31383d;
    height: 80px;
    margin: 0 auto;
    width: 80%;
}


