@import '../common/styles/sass/variable';

.headerBlock {
  background-color: $bgColor;
  //position: sticky;
  //top:0;
  //z-index: 101;

  #main {
    background: transparent;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    z-index: 13;
  }
  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    width: 50%;
  }

}






