@import '../common/styles/sass/variable';
@import '../common/styles/sass/mixins';

.remoteWorkBlock{
    background-color: $bgColor;
    text-align: center;
    padding: 50px 0;
    .remoteWorkContainer{
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        .title {
            @include text($textFontFamily, 1.75em, 500, 1.2);
        }
    }
}






