@import '../common/styles/sass/variable';
@import '../common/styles/sass/mixins';

.remoteWorkBlock{
    text-align: center;
    //background-image: url(../assets/img/bg_remoteWork.jpg);
    //background-repeat: no-repeat;
    .blackLayer{
        background-color: $bgColor;
        opacity: 0.8;
        height: 100%;
        .remoteWorkContainer{
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
            .title {
                @include text($textFontFamily, 1.75em, 500, 1.2);
                padding: 76px 0;
            }
        }
    }

}






