.skill {
    width: 250px;
    border: 1px solid #31383d;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: cornflowerblue;
}
