@import '../../common/styles/sass/variable';
@import '../../common/styles/sass/mixins';

.skill {
  width: 250px;
  height: 250px;
  border: 1px solid #31383d;
  text-align: center;
  padding: 2.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 16px;

  .icon {
    height: 60px;
    width: 60px;
    fill: $primaryColor;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0)
  }

  .techTitle {
    @include text($textFontFamily, 1.5em, 500);
    margin-top: 78px;
  }

  .description {
    @include text($textFontFamily, 1em, 300, 1.7);
    color: $textSecondColor;
  }

  &:hover {
    .icon {
      height: 70px;
      width: 70px;
      cursor: pointer;
      transition: all .5s ease-in-out;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      transition-delay: 0s;
    }
  }

}
