@import "../../styles/sass/variable";
@import "../../styles/sass/mixins";

.title h2{
    @include text($TitleFontFamily, 32px, 500);
    letter-spacing: 2px;
    line-height: 1.2;
    padding: 0 16px;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 16px;
    padding: 16px;
    border: 1px solid #31383d;
    &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        bottom: -5px;
        right: -5px;
        -webkit-transition: inherit;
        transition: inherit;
        box-sizing: border-box;
        background-color: $primaryColor;
    }
}



