.form {
    display: flex;
    align-items: center;

}
.form__body {
    border: 1px solid;
    margin: 0px auto;
    display: flex;
    flex-direction:column;
}
input{
    width:500px;
    background-color: #C4C4C4;
    margin-top: 10px;
}

textarea {
    max-width: 500px;
    min-width: 500px;
    height: 200px;
    background-color: #C4C4C4;
    margin-top: 10px;

}