@import '../../common/styles/sass/variable';
@import '../../common/styles/sass/mixins';
@import '../../common/components/Button/Button.module';


.form {
  input[type="text"],
  input[type="email"],
  textarea,
  select {
    display: block;
    background-clip: padding-box;
    box-sizing: border-box;
    background: transparent;
    outline: none;
    border: 1px solid $borderColor;
    color: $textColor;
    padding: .9em 1em;
    font-size: 1em;
    font-family: open sans, sans-serif;
    width: 100%;
    margin-bottom: 30px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: $textColor;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,
            rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
  }


  .formRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .col {
      position: relative;
      flex: 0 0 50%;
      max-width: 50%;
    }

  }

  .itemFrom {
    background: transparent;
    outline: none;
    border: 1px solid $borderColor;
    color: $textColor;
    padding: .9em 1em;
    font-size: 1em;
    font-family: open sans, sans-serif;
    width: 100%;
  }

  .textarea {
    resize: none;
  }

  .formGroup {
    position: relative;

    .labelFrom {
      position: absolute;
      color: #F0F0F0;
      top: 11px;
      left: 7px;
      padding: 0 14px;
      opacity: .6;
      pointer-events: none;
      transition: 0.3s;
    }

    .itemFrom:valid ~ .labelFrom {
      top: -13px;
      left: 10px;
      padding: 0 9px;
      background: #262b2f;
      transition: 0.3s;
    }

    .itemFrom:focus + .labelFrom,
    .itemFrom:active ~ .labelFrom {
      font-weight: bold;
      color: $primaryColor;
      top: -13px;
      left: 10px;
      padding: 0 9px;
      background: #262b2f;
      transition: 0.3s;
      opacity: 1;
    }

  }

  .formGroup:nth-child(1) {
    input {
      width: 95%;
    }
  }

  .wrapBtnSub {
    display: flex;
    justify-content: flex-end;
  }

}

button[type='submit'], {
  @extend .btnOutline;
  align-self: flex-end;
  font-family: open sans, sans-serif;
  font-size: 16px;
  border: 2px solid $primaryColorDark;

  &:disabled {
    color: $borderColor;
    border: 2px solid $borderColor;

    &:hover {
      background: transparent;
      cursor: auto;
    }
  }
}

.btnOk {
  @extend .btnOutline;
  cursor: pointer;
  background: $primaryColor !important;
  border-color: $primaryColor !important;
  @include text($textFontFamily, 1em, 500);

}

.mTitle {
  @include text($textFontFamily, 1.2em, 500);
}

.mText {
  @include text($textFontFamily, 1em, 300);
  padding-bottom: 10px;
  color: $textSecondColor;
}

@media screen and (max-width: 500px) {
  .form {
    width: 95%;
    margin: 0 auto;

    .formRow {
      flex-direction: column;

      .col {
        max-width: 100%;
      }
    }

    .formGroup:nth-child(1) {
      input {
        width: 100%;
      }
    }
  }
}


