.aboutBlock {
    //height: 100vh;
    background-color: #1e2326;
    color: #f0f0f0;
    padding: 50px 0;
    .aboutContainer{
        display: flex;
        justify-content: center;
    }

    .text  {
        margin: 0 20px 0 20px;
        width: 31%;
    }
    .photo {
        width: 396px;
        height: 495px;
        margin: 0 44px;
    }
}





