@import "../common/styles/sass/variable";

.aboutBlock {
  background-color: #1e2326;
  color: #f0f0f0;
  padding: 54px 0 64px 0;

  .titleAbout {
    display: flex;
    justify-content: center;
  }

  .aboutContainer {
  }

  .text {
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;

    .textBody {
      margin: 24px 0 44px 0;

      .refCodewars {
        text-decoration: none;
        color: $textColor;
        font-weight: 600;

        &:hover {
          color: $primaryColor;
        }
      }
    }

    .btnDownload {
      margin-top: 16px;
    }
  }

  .photo {
    width: 401px;
    height: 527px;
    margin: 44px;
  }

}

@media screen and (max-width: 500px) {
  .aboutBlock {

      .photo {
        width: 90%;
        height: 90%;
        margin: 22px 0;
      }

    .text {
      width: 90%;
      text-align: center;
    }
  }
}



