.skills {
    background-color: #DDFEE9;
    height: 100vh;
    display: flex;
    align-items: center;
}

.skills__body {
    width: 80%;
    border: 1px solid;
    margin: 0px auto;
}

.skills__top {
    border: 1px solid;
}

.skills__title {
    margin-bottom: 60px;
}

.skills__row {
    display: flex;
    justify-content: space-between;


}

.skills__title p {
    font: 12pt sans-serif;
    position: relative;
    text-align: center;
}