@import "../common/styles/sass/variable";

.skillsBlock {
  /*height: 100vh;*/
  background-color: #1e2326;
  color: $textColor;
  padding: 50px 0;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .skills {
      width: 100%;
      //display: flex;
      //justify-content: center;
      //flex-wrap: wrap;
      display: grid;
      grid-template-areas: "a b c" "d e f";
      grid-gap: 30px;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1100px;
      margin: 0 auto;


      .title {
        display: inline-flex;
      }
    }
  }
}

