@import "../common/styles/sass/variable";


.mainBlock {
  height: 100vh;
  background-color: #1e2326;
  color: #f0f0f0;
  padding: 50px 0;
  flex-direction: column;

  .text {
    display: flex;
    flex-direction: column;

    h1 {
      font-family: poppins, sans-serif;
      letter-spacing: 2px;
      font-size: 45px;
      font-weight: 600;
      padding: 16px;
      position: relative;
      text-transform: uppercase;
      display: inline-block;
      margin: 0;
    }

    .btnLearnMore {
      background: $primaryColor !important;
      border-color: $primaryColor !important;
      color: $textColor;
      position: absolute;
      margin-top: 30px;
      left: 50%;
      transform: translate(-50%, 0);

      &:hover {
        background: $primaryColorDark !important;
        border-color: $primaryColorDark !important;
        color: $textColor;
      }
    }
  }
}







