
h2{
    font-family: poppins,sans-serif;
    letter-spacing: 2px;
    font-size: 32px;
    font-weight: 500;
    padding: 0 16px;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 16px;
    border: 1px solid #31383d;
}

h2:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -5px;
    right: -5px;
    -webkit-transition: inherit;
    transition: inherit;
    box-sizing: border-box;
}

h2::before {
    background-color: rgb(28, 186, 90);
}