.project {
    width: 300px;
    border: 1px solid #31383d;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.image {
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    /*opacity: 0.02;*/
}

/*.image::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    background-color: #1e2326;*/
/*    opacity: 0.3;*/
/*    top:0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    left: 0;*/

/*}*/


.image:hover {
    background-color: #1e2326;
    opacity: 0.3;

}

.bt {
    background-color: #1cba5a;
    padding: 5px;
    cursor: pointer;
    position: relative;
    z-index: 99999;
}
.bt:hover {
    box-shadow: 1px 1px 5px 5px #f0f0f0 ;
    background-color:#f0f0f0;
    color: #1cba5a;
    border-radius: 5px;
    position: relative;
    z-index: 99999;
}

.description_project {

}
.description{
    font-weight: 300;
    color: #b5b5b5;
    font-size: 1em;
}

.projectTitle {
    font-size: 1.5em;
    font-weight: 500;
}