@import '../../common/styles/sass/variable';
@import '../../common/styles/sass/mixins';

.project {
  width: 330px;
  height: 300px;
  border: 1px solid #31383d;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 16px;

  &:hover {
    .blackLayer {
      display: block;
      cursor: pointer;
      transition: all .5s ease-in-out;
      background: $bgColor;
      opacity: 0.9;
    }

    .projectTitle {
      display: block;
    }

    .description_project {
      display: block;
    }

    .bt {
      display: block;
    }
  }

  .bt {
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    background: $primaryColor;
    color: $textColor;
    z-index: 100;
    line-height: 1.3;
  }

  .blackLayer {
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    background: 0 0;
  }

  .description_project {
    width: 90%;
    display: none;
    position: absolute;
    left: 5%;

    .description {
      @include text($textFontFamily, 1em, 300, 1.7);
    }

    .projectTitle {
      @include text($textFontFamily, 1.5em, 500);
    }
  }
}









