@import './common/styles/sass/variable';
//@import './common/styles/sass/fonts.scss';

.App {
    font-family: open sans,sans-serif;
    font-size: 16px;
    line-height: 1.7;

    h1 {
        position: relative;
        padding: 16px;
        text-transform: uppercase;
        display: inline-block;
        margin: 0;
        border: 1px solid #f0f0f0;
    }

    h1:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        bottom: -5px;
        right: -5px;
    }

    h1::before {
        background-color: $primaryColor;
    }

    .label {
        display: inline-block;
        margin-bottom: .5rem;
    }


}

