@import "../common/styles/sass/variable";
@import "../common/styles/sass/mixins";

.nav {
  width: 448px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  z-index: 100;

  @media screen and (max-width: 835px) {
    display: none;
  }

}

