
@font-face {
  font-family: 'Geometria';
  src: url('../../../assets/fonts/Geometria/Geometria-Heavy.eot');
  src: local('Geometria Heavy'), local('Geometria-Heavy'),
  url('../../../assets/fonts/Geometria/Geometria-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Geometria/Geometria-Heavy.woff') format('woff'),
  url('../../../assets/fonts/Geometria/Geometria-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../../../assets/fonts/Geometria/Geometria-Medium.eot');
  src: local('Geometria Medium'), local('Geometria-Medium'),
  url('../../../assets/fonts/Geometria/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Geometria/Geometria-Medium.woff') format('woff'),
  url('../../../assets/fonts/Geometria/Geometria-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Geometria';
  src: url('../../../assets/fonts/Geometria/Geometria.eot');
  src: local('Geometria'),
  url('../../../assets/fonts/Geometria/Geometria.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Geometria/Geometria.woff') format('woff'),
  url('../../../assets/fonts/Geometria/Geometria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../../../assets/fonts/Geometria/Geometria-Bold.eot');
  src: local('Geometria Bold'), local('Geometria-Bold'),
  url('../../../assets/fonts/Geometria/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Geometria/Geometria-Bold.woff') format('woff'),
  url('../../../assets/fonts/Geometria/Geometria-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../../../assets/fonts/Geometria/Geometria-ExtraBold.eot');
  src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
  url('../../../assets/fonts/Geometria/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Geometria/Geometria-ExtraBold.woff') format('woff'),
  url('../../../assets/fonts/Geometria/Geometria-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

