@import './variable';

@mixin text($fontFamily,$fontSize,$fontWeight,$lineHeight : false) {
  @if $lineHeight {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $textColor;
    //text-#{$lineHeight}: $fontFamily, $fontSize, $fontWeight;
    //color: $textColor;
  } @else {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    color: $textColor;
  }
}

