.footerBlock {
    padding: 50px 0;
    background-color: #1e2326;
    color: #f0f0f0;
}

.footerContainer {
    display: block;
    text-align: center;
}

.title {
    display: inline-flex;
}

.footerItems {
    display: flex;
    border: 1px solid #31383d;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    width: 70%;
}

.item {
    height: 60px;
    width: 60px;
    background-color: #bfbdbd;
    list-style-type: none;
}