@import "../common/styles/sass/variable";

.footerBlock {
  padding: 50px 0;
  background-color: $bgColor;
  color: $textColor;

  .footerContainer {
    display: block;
    text-align: center;

    .footerItems {
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0 auto;
      width: 70%;

      .item {
        height: 60px;
        width: 60px;
        list-style-type: none;

        .icon {
          height: 32px;
          width: 32px;
          fill: $primaryColor;
          cursor: pointer;

          &:hover {
            fill: $textSecondColor;
          }
        }
      }
    }

    .title {
      display: inline-flex;
    }
  }
}


@media screen and (max-width: 500px) {
  .footerBlock {
    padding: 30px 0;

    .footerContainer {
      .footerItems {
        width: 100%;

        .item {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}





