@import '../common/styles/sass/variable';
@import '../common/styles/sass/mixins';

.projectsBlock {
  background-color: $bgColor;
  color: $textColor;
  padding: 50px 0;
  text-align: center;
  .descriptionSpan{
    @include text($textFontFamily, 1em, 300);
    margin-bottom: 32px;
    a {
      text-decoration: none;
      color: $textColor;
      font-weight: 600;
      &:hover {
        color: $primaryColor;
      }
    }
  }
  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .projects {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}





