.projects {
    height: 100vh;
    background-color: #F1E2FF;
    display: flex;
    align-items: center;
}

.projects__body {
    width: 80%;
    border: 1px solid;
    margin: 0px auto;
}

.projects__top {
    border: 1px solid;
}

.projects__title p {
    margin-bottom: 60px;
    text-align: center;
}

.projects__row {
    display: flex;
    justify-content: space-between;
}