@import '../common/styles/sass/variable';


.projectsBlock {
  background-color: $bgColor;
  color: $textColor;
  padding: 50px 0;
  text-align: center;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .projects {
      width: 100%;
      display: grid;
      grid-template-areas: "a b c" "d e f";
      grid-gap: 30px;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1100px;
      margin: 0 auto;
    }
  }
}





